<template>
  <main class="flex-1 pb-8">
    <!-- Page header -->
    <div class="bg-white shadow">
      <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
        <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
          <div class="flex-1 min-w-0">
            <!-- Profile -->
            <div class="flex items-center">
              <img class="hidden w-16 h-16 rounded-full sm:block"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                alt="" />
              <div>
                <div class="flex items-center">
                  <img class="w-16 h-16 rounded-full sm:hidden"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                    alt="" />
                  <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:leading-9">Good morning,
                    Aditya Satrio</h1>
                </div>
                <dl class="flex flex-col mt-6 sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                  <dt class="sr-only">Company</dt>
                  <dd class="flex items-center text-sm font-medium text-gray-500 capitalize sm:mr-6">
                    <BuildingOfficeIcon class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" aria-hidden="true" />
                    Buana Ciwastra Residence
                  </dd>
                  <dt class="sr-only">Account status</dt>
                  <dd class="flex items-center mt-3 text-sm font-medium text-gray-500 capitalize sm:mr-6 sm:mt-0">
                    <CheckCircleIcon class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400" aria-hidden="true" />
                    Verified account
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="flex mt-6 space-x-3 md:ml-4 md:mt-0">
            <button type="button"
              class="inline-flex items-center px-3 py-2 text-sm font-semibold text-white rounded-md shadow-sm bg-cyan-600 hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">Add Card</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8">
      <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Overview</h2>
        <div class="grid grid-cols-1 gap-5 mt-2 sm:grid-cols-2 lg:grid-cols-3">
          <!-- Card -->
          <div v-for="card in bam" :key="card.name" class="overflow-hidden bg-white rounded-lg shadow">
            <div class="p-5">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <component :is="card.icon" class="w-6 h-6 text-gray-400" aria-hidden="true" />
                </div>
                <div class="flex-1 w-0 ml-5">
                  <dl>
                    <dt class="text-sm font-medium text-gray-500 truncate">{{ card.name }}</dt>
                    <dd>
                      <div class="text-lg font-medium text-gray-900">{{ card.amount }}</div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="px-5 py-3 bg-gray-50">
              <div class="text-sm">
                <a :href="card.href" class="font-medium text-cyan-700 hover:text-cyan-900">View all</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="max-w-6xl px-4 mx-auto mt-8 text-lg font-medium leading-6 text-gray-900 sm:px-6 lg:px-8">Card Lists</h2>

      <!-- Activity table (small breakpoint and up) -->
      <div class="block">
        <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
          <div class="flex flex-col mt-2">
            <div class="min-w-full overflow-hidden overflow-x-auto align-middle shadow sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50">Card ID</th>
                    <th class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50">Name</th>
                    <th class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50">Address</th>
                    <th class="px-6 py-3 text-sm font-semibold text-center text-gray-900 bg-gray-50">Status</th>
                    <th class="px-6 py-3 text-sm font-semibold text-center text-gray-900 bg-gray-50">Action</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="card in cards.cards" :key="card.id" class="bg-white">
                    <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                      <div class="flex">
                        <a href="#" class="inline-flex space-x-2 text-sm truncate group">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500">
                            <path fill-rule="evenodd"
                              d="M2.5 4A1.5 1.5 0 0 0 1 5.5V6h18v-.5A1.5 1.5 0 0 0 17.5 4h-15ZM19 8.5H1v6A1.5 1.5 0 0 0 2.5 16h15a1.5 1.5 0 0 0 1.5-1.5v-6ZM3 13.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm4.75-.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z"
                              clip-rule="evenodd" />
                          </svg>
                          <p class="font-mono text-gray-500 truncate group-hover:text-gray-900">{{ card.card_uid }}</p>
                        </a>
                      </div>
                    </td>
                    <td class="w-full px-6 py-4 text-sm text-left text-gray-500 whitespace-nowrap">
                      <span class="font-medium text-gray-900">{{ card.name }}</span>
                    </td>
                    <td class="px-6 py-4 text-sm text-left text-gray-500 whitespace-nowrap">
                      <span class="font-mono text-gray-900 font-semimedium">{{ card.address }}</span>
                    </td>
                    <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap md:table-cell">
                      <span
                        :class="[card.blocked === false ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800', 'inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium']">{{
                          card.blocked === false ? 'Verified' : 'Blocked' }}</span>
                    </td>
                    <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap">
                      <button v-on:click="deleteCard(card.card_uid)" alt="Delete"> <svg xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-gray-400 hover:text-red-500">
                          <path fill-rule="evenodd"
                            d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
                            clip-rule="evenodd" />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Pagination -->
              <nav class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6"
                aria-label="Pagination">
                <div class="hidden sm:block">
                  <p class="text-sm text-gray-700">
                    Showing
                    {{ ' ' }}
                    <span class="font-medium">1</span>
                    {{ ' ' }}
                    to
                    {{ ' ' }}
                    <span class="font-medium">10</span>
                    {{ ' ' }}
                    of
                    {{ ' ' }}
                    <span class="font-medium">20</span>
                    {{ ' ' }}
                    results
                  </p>
                </div>
                <div class="flex justify-between flex-1 gap-x-3 sm:justify-end">
                  <a href="#"
                    class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 hover:ring-gray-400">Previous</a>
                  <a href="#"
                    class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 hover:ring-gray-400">Next</a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</template>

<script setup>
import { ref } from 'vue'
import {
  BuildingOfficeIcon,
  CheckCircleIcon,
  ScaleIcon
} from '@heroicons/vue/20/solid'

const runtimeConfig = useRuntimeConfig();

const cards = ref([]);
const apiUrl = runtimeConfig.public.apiBase;

const fetchData = async () => {
  try {
    const response = await fetch(`${apiUrl}/api/cards`);
    const data = await response.json();
    cards.value = data;
  } catch (error) {
    console.error('Error fetching data:', error);
  }
};

const deleteCard = async (cardId) => {
  try {
    await fetch(`${apiUrl}/api/cards/${cardId}`, {
      method: 'DELETE',
    });

    // Refresh the cards data after deletion
    fetchData();
  } catch (error) {
    console.error('Error deleting card:', error);
  }
};

const bam = [
  { name: 'Account balance', href: '#', icon: ScaleIcon, amount: '$30,659.45' }
]

// Initial data fetch
fetchData();

const sidebarOpen = ref(false)
</script>