<template>
  <main class="flex-1 pb-8">
    <!-- Page header -->
    <div class="bg-white shadow">
      <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
        <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
          <div class="flex-1 min-w-0">
            <!-- Profile -->
            <div class="flex items-center">
              <img class="hidden w-16 h-16 rounded-full sm:block"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                alt="" />
              <div>
                <div class="flex items-center">
                  <img class="w-16 h-16 rounded-full sm:hidden"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                    alt="" />
                  <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:leading-9">Good morning,
                    Aditya Satrio</h1>
                </div>
                <dl class="flex flex-col mt-6 sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                  <dt class="sr-only">Company</dt>
                  <dd class="flex items-center text-sm font-medium text-gray-500 capitalize sm:mr-6">
                    <BuildingOfficeIcon class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" aria-hidden="true" />
                    Buana Ciwastra Residence
                  </dd>
                  <dt class="sr-only">Account status</dt>
                  <dd class="flex items-center mt-3 text-sm font-medium text-gray-500 capitalize sm:mr-6 sm:mt-0">
                    <CheckCircleIcon class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400" aria-hidden="true" />
                    Verified account
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="flex mt-6 space-x-3 md:ml-4 md:mt-0">
            <button type="button"
              class="inline-flex items-center px-3 py-2 text-sm font-semibold text-white rounded-md shadow-sm bg-cyan-600 hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">Add Card</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8">
      <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Overview</h2>
        <div class="grid grid-cols-1 gap-5 mt-2 sm:grid-cols-2 lg:grid-cols-3">
          <!-- Card -->
          <div v-for="card in bam" :key="card.name" class="overflow-hidden bg-white rounded-lg shadow">
            <div class="p-5">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <component :is="card.icon" class="w-6 h-6 text-gray-400" aria-hidden="true" />
                </div>
                <div class="flex-1 w-0 ml-5">
                  <dl>
                    <dt class="text-sm font-medium text-gray-500 truncate">{{ card.name }}</dt>
                    <dd>
                      <div class="text-lg font-medium text-gray-900">{{ card.amount }}</div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="px-5 py-3 bg-gray-50">
              <div class="text-sm">
                <a :href="card.href" class="font-medium text-cyan-700 hover:text-cyan-900">View all</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script setup>
import { ref } from 'vue'
import {
  BuildingOfficeIcon,
  CheckCircleIcon,
  ScaleIcon
} from '@heroicons/vue/20/solid'

const runtimeConfig = useRuntimeConfig();

const cards = ref([]);
const apiUrl = runtimeConfig.public.apiBase;

const fetchData = async () => {
  try {
    const response = await fetch(`${apiUrl}/api/cards`);
    const data = await response.json();
    cards.value = data;
  } catch (error) {
    console.error('Error fetching data:', error);
  }
};

const bam = [
  { name: 'Account balance', href: '#', icon: ScaleIcon, amount: '$30,659.45' }
]

// Initial data fetch
fetchData();

const sidebarOpen = ref(false)
</script>