<template>
  <main class="flex-1 pb-8">
    <!-- Page header -->
    <div class="bg-white shadow">
      <div class="px-4 sm:px-6 lg:mx-auto lg:max-w-6xl lg:px-8">
        <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
          <div class="flex-1 min-w-0">
            <!-- Profile -->
            <div class="flex items-center">
              <img class="hidden w-16 h-16 rounded-full sm:block"
                src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                alt="" />
              <div>
                <div class="flex items-center">
                  <img class="w-16 h-16 rounded-full sm:hidden"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.6&w=256&h=256&q=80"
                    alt="" />
                  <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:leading-9">Good morning,
                    Aditya Satrio</h1>
                </div>
                <dl class="flex flex-col mt-6 sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                  <dt class="sr-only">Company</dt>
                  <dd class="flex items-center text-sm font-medium text-gray-500 capitalize sm:mr-6">
                    <BuildingOfficeIcon class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" aria-hidden="true" />
                    Buana Ciwastra Residence
                  </dd>
                  <dt class="sr-only">Account status</dt>
                  <dd class="flex items-center mt-3 text-sm font-medium text-gray-500 capitalize sm:mr-6 sm:mt-0">
                    <CheckCircleIcon class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400" aria-hidden="true" />
                    Verified account
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="flex mt-6 space-x-3 md:ml-4 md:mt-0">
            
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8">
      <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Overview</h2>
        <div class="grid grid-cols-1 gap-5 mt-2 sm:grid-cols-2 lg:grid-cols-3">
          <div v-for="card in bam" :key="card.name" class="overflow-hidden bg-white rounded-lg shadow">
            <div class="p-5">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <component :is="card.icon" class="w-6 h-6 text-gray-400" aria-hidden="true" />
                </div>
                <div class="flex-1 w-0 ml-5">
                  <dl>
                    <dt class="text-sm font-medium text-gray-500 truncate">{{ card.name }}</dt>
                    <dd>
                      <div class="text-lg font-medium text-gray-900">{{ card.amount }}</div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="px-5 py-3 bg-gray-50">
              <div class="text-sm">
                <a :href="card.href" class="font-medium text-cyan-700 hover:text-cyan-900">View all</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="max-w-6xl px-4 mx-auto mt-8 text-lg font-medium leading-6 text-gray-900 sm:px-6 lg:px-8">Histories</h2>

      <!-- Activity table (small breakpoint and up) -->
      <div class="block">
        <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
          <div class="flex flex-col mt-2">
            <div class="min-w-full overflow-hidden overflow-x-auto align-middle shadow sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50">Time</th>
                    <th class="px-6 py-3 text-sm font-semibold text-center text-gray-900 bg-gray-50">Gate</th>
                    <th class="px-6 py-3 text-sm font-semibold text-center text-gray-900 bg-gray-50">Status</th>
                    <th class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50">Name</th>
                    <th class="px-6 py-3 text-sm font-semibold text-left text-gray-900 bg-gray-50">Card ID</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="log in logs.logs" :key="logs.id" class="bg-white">
                    <td class="px-6 py-4 text-sm text-left text-gray-500 whitespace-nowrap">
                      <span class="font-medium text-gray-900">{{ formatTimestamp(log.createdAt) }}</span>
                    </td>
                    <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap md:table-cell">
                      <span class="inline-flex bg-gray-100 text-gray-800 items-center rounded-full px-2.5 py-0.5 text-xs font-medium">
                        {{ getGateText(log.gate) }}
                      </span>
                    </td>
                    <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap">
                      <span
                        :class="[getStatusClasses(log.status), 'inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium']">
                        {{ getStatusText(log.status) }}
                      </span>
                    </td>
                    <td class="w-full px-6 py-4 text-sm text-left text-gray-500 whitespace-nowrap">
                      <span class="font-medium text-gray-900">{{ log.name }}</span>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap">
                      <div class="flex">
                        <a href="#" class="inline-flex space-x-2 text-sm truncate group">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500">
                            <path fill-rule="evenodd"
                              d="M2.5 4A1.5 1.5 0 0 0 1 5.5V6h18v-.5A1.5 1.5 0 0 0 17.5 4h-15ZM19 8.5H1v6A1.5 1.5 0 0 0 2.5 16h15a1.5 1.5 0 0 0 1.5-1.5v-6ZM3 13.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm4.75-.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z"
                              clip-rule="evenodd" />
                          </svg>
                          <p class="font-mono text-gray-500 truncate group-hover:text-gray-900">{{ log.card_uid }}</p>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Pagination -->
              <nav class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6"
                aria-label="Pagination">
                <div class="hidden sm:block">
                  <p class="text-sm text-gray-700">
                    Showing
                    {{ ' ' }}
                    <span class="font-medium">1</span>
                    {{ ' ' }}
                    to
                    {{ ' ' }}
                    <span class="font-medium">10</span>
                    {{ ' ' }}
                    of
                    {{ ' ' }}
                    <span class="font-medium">20</span>
                    {{ ' ' }}
                    results
                  </p>
                </div>
                <div class="flex justify-between flex-1 gap-x-3 sm:justify-end">
                  <a href="#"
                    class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 hover:ring-gray-400">Previous</a>
                  <a href="#"
                    class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 hover:ring-gray-400">Next</a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</template>

<script setup>
import { ref } from 'vue'

import {
  BuildingOfficeIcon,
  CheckCircleIcon,
  ScaleIcon
} from '@heroicons/vue/20/solid'

const runtimeConfig = useRuntimeConfig();

const logs = ref([]);
const apiUrl = runtimeConfig.public.apiBase;

const fetchData = async () => {
  try {
    const response = await fetch(`${apiUrl}/api/logs`);
    const data = await response.json();
    logs.value = data;
  } catch (error) {
    console.error('Error fetching data:', error);
  }
};

const bam = [
  { name: 'Account balance', href: '#', icon: ScaleIcon, amount: '$30,659.45' }
]

const getGateText = (status) => {
		switch (status) {
			case 0:
				return 'Car';
			case 1:
				return 'Bike';
			case 9:
				return 'Guest';
			case 9:
				return 'Denied';
			default:
				return 'Unknown'; // Default label for unknown status
		}
	}

const getStatusText = (status) => {
  switch (status) {
    case 0:
      return 'Out';
    case 1:
      return 'In';
    case 9:
      return 'Blocked';
    case 8:
      return 'Not Found';
    default:
      return 'Unknown';
  }
};

const getStatusClasses = (status) => {
  switch (status) {
    case 0: // OUT
      return 'bg-gray-100 text-gray-800'; // Adjust the color as needed
    case 1: // IN
      return 'bg-green-100 text-green-800';
    case 9: // BLOCKED
      return 'bg-red-100 text-red-800';
    case 8: // NOT FOUND
      return 'bg-yellow-100 text-yellow-800'; // Adjust the color as needed
    default:
      return 'bg-gray-100 text-gray-800'; // Default color for unknown status
  }
};

const formatTimestamp = (timestamp) => {
  const options = {
    timeZone: 'Asia/Jakarta',
    day: 'numeric',
    month: 'short',
    year: 'numeric',
    hour: 'numeric',
    minute: 'numeric',
    hour12: false, // Set to false to use 24-hour format
  };

  return new Date(timestamp).toLocaleString('id-ID', options);
};

// Initial data fetch
fetchData();

const sidebarOpen = ref(false)
</script>